<% admin_user.applications.each do |app| %>

  <table>

    <thead>
      <tr>
        <th><%= Typus::I18n.t(app) %></th>
      </tr>
    </thead>

    <% apps = admin_user.application(app).collect {|m| [m.typus_constantize,m.typus_constantize.model_name.human.pluralize]}
       apps = apps.sort {|a,b| a[1]<=>b[1]}
       apps.each do |klass,klass_human_name| %>

      <%
        admin_items_path = { :controller => "/admin/#{klass.to_resource}" }
      %>

      <tr class="<%= cycle("even", "odd") %>">
        <td>
          <%= link_to klass_human_name, admin_items_path %>
        </td>
      </tr>

    <% end %>

  </table>

<% end %>